/**
 * 模态框组件
 */
/**
 * 遮罩层
 */
* {
  margin: 0;
  padding: 0;
}
.fix-position {
  overflow: hidden;
}
.btn-active {
  background-color: #ddd;
}
.border-top {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  heiht: 1px;
  border-top: 1px solid #ddd;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 1001;
}
.t-dimmer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  pointer-events: none;
}
.t-modal {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  font-size: 14px;
  background-color: #fafafa;
  border-radius: 3px;
  overflow: hidden;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.t-modal__header {
  padding: 15px 10px 15px;
}
.t-modal__header--tt {
  margin-bottom: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
.t-modal__header--ct {
  line-height: 22px;
  color: rgba(0, 0, 0, 0.54);
}
.t-modal__footer {
  position: relative;
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.t-modal__footer:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  heiht: 1px;
  border-top: 1px solid #ddd;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 1001;
}
.t-modal__footer--btn {
  position: relative;
  display: table-cell;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  overflow: hidden;
}
.t-modal__footer--btn:nth-child(2):after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  border-left: 1px solid #ddd;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  transform-origin: 0 0;
}
.t-actions {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  z-index: 1001;
}
.t-actions__list {
  color: rgba(0, 0, 0, 0.54);
  background-color: #fafafa;
}
.t-actions__list--tt {
  color: rgba(0, 0, 0, 0.87);
}
.t-actions__list li {
  position: relative;
  display: block;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}
.t-actions__list li + li:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  heiht: 1px;
  border-top: 1px solid #ddd;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 1001;
}
.t-actions__cancel {
  display: block;
  margin-top: 10px;
  height: 46px;
  line-height: 46px;
  color: #fff;
  background-color: #4c9cee;
}
