.t-aside-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1010;
}
.t-aside {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #252525;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1011;
}
.t-aside--left {
  left: 0;
}
.t-aside--right {
  right: 0;
}
.aside-fix {
  position: fixed;
  -webkit-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
}
