.t-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.t-slide__inner {
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: transform .3s linear;
}
.t-slide__inner li {
  float: left;
}
.t-slide__inner a {
  display: block;
  font-size: 0;
}
.t-slide__inner img {
  width: 100%;
}
.t-slide__indicator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  font-size: 0;
  height: 5px;
  line-height: 5px;
  text-align: center;
  overflow: hidden;
}
.t-slide__indicator span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}
.t-slide__indicator span.current {
  background-color: #4c9cee;
}
.t-slide__indicator span + span {
  margin-left: 5px;
}
